* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
    background-image: url(./imgs/wp12917760.jpg);
    background-size: cover;
    overflow: hidden;
}

.container {
    border-radius: 23px;
    background: #e0e0e0;
    box-shadow:
    2.3px 2px 1.9px rgba(0, 0, 0, 0.021),
    5.3px 4.5px 4.2px rgba(0, 0, 0, 0.031),
    9.2px 7.9px 7.3px rgba(0, 0, 0, 0.038),
    14.7px 12.5px 11.6px rgba(0, 0, 0, 0.044),
    22.6px 19.3px 18px rgba(0, 0, 0, 0.05),
    35.3px 30.1px 28px rgba(0, 0, 0, 0.058),
    58.6px 50px 46.5px rgba(0, 0, 0, 0.068),
    117px 100px 93px rgba(0, 0, 0, 0.09) ;
    padding: 25px;
    margin: 25px;
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .startDate{
        font-weight: bold;
        padding: 10px;
        padding-bottom: 20px;
        color: #1358be;
        font-size: 22px;
        #startDate {
            padding: 8px ;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            box-shadow:
            5.3px 4.5px 4.5px rgba(0, 0, 0, 0.031),
            14.7px 12.5px 12.5px rgba(0, 0, 0, 0.044),
            35.3px 30.1px 30.1px rgba(0, 0, 0, 0.058),
            117px 100px 100px rgba(0, 0, 0, 0.09);
            margin-top: 10px;
        }
        #startDate:focus {
            outline: 2px solid rgb(7, 93, 151);
        }
    }
    .endDate {
        font-weight: bold;
        padding: 10px;
        padding-bottom: 20px;
        color: #1358be;
        font-size: 22px;
        #endDate {
            padding: 8px ;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            box-shadow:
            5.3px 4.5px 4.5px rgba(0, 0, 0, 0.031),
            14.7px 12.5px 12.5px rgba(0, 0, 0, 0.044),
            35.3px 30.1px 30.1px rgba(0, 0, 0, 0.058),
            117px 100px 100px rgba(0, 0, 0, 0.09);
            margin-bottom: 20px;
            margin-top: 10px;
        }
        #endDate:focus {
            outline: 2px solid rgb(7, 93, 151);
        }
    }
}

button {
    width: 140px;
    align-self: center;
    padding: 13px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #1358be;
    box-shadow:
    3.2px 2.8px 2.2px rgba(0, 0, 0, 0.017),
    7.8px 6.7px 5.3px rgba(0, 0, 0, 0.024),
    14.7px 12.5px 10px rgba(0, 0, 0, 0.029),
    26.1px 22.3px 17.9px rgba(0, 0, 0, 0.035),
    48.9px 41.8px 33.4px rgba(0, 0, 0, 0.043),
    117px 100px 80px rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
    font-size: 15px;
    transition: 0.06s ease-in-out;
    z-index: 1;
}
button:hover {
    outline: 2px solid #1358be;
}

.autoDateLabel {
    font-weight: bold;
    padding: 10px;
    padding-bottom: 20px;
    color: #1358be;
    font-size: 22px;
}
#birthDate {
    padding: 8px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow:
    5.3px 4.5px 4.5px rgba(0, 0, 0, 0.031),
    14.7px 12.5px 12.5px rgba(0, 0, 0, 0.044),
    35.3px 30.1px 30.1px rgba(0, 0, 0, 0.058),
    117px 100px 100px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
    margin-top: 10px;
}
#birthDate:focus {
    outline: 2px solid rgb(7, 93, 151);
}


.finalAge {
    label {
        color: #1358be;
        font-weight: bold;
        font-size: 27px;
        padding: 20px;
    }
    p {
        margin-top: 20px;
        font-weight: 600;
        font-size: 19px;
        padding: 20px;
    }
}

.frontPage {
    z-index: 2;
    background-color: #0d1e3b;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-inline: 70px;
    transition: 0.5 ease-in-out;
    }
    .codex {
        position: absolute;
        margin: 30px;
        color: white;
        font-weight: bold;
        left: 0;
    }
    .icon {
        position: absolute;
        border-radius: 20px;
        width: 80px;
        margin: 30px;
        right: 0;
    }
    .dis {
        align-self: center;
        color: white;
        padding: 40px;
        flex-grow: 1;
        .h1 {
            font-size: 95px;
            color: #4C66F6;
            font-weight: 900;
        }
        .p {
            color: white;
            font-size: 80px;
            margin: 0;
        }
        p {
            font-size: 30px;
            margin: 10px 0;
        }
        #start {
            margin-top: 30px;
            width: 250px;
            background-color: #455BF0;
            color: #ffffff;
            font-weight: bold;
            font-size: 20px;
        }
    }
    .pic {
        width: 60%;
        align-self: center;
        img {
            width: 100%;
        }
}
.frontPage::after {
    content: "";
    position: absolute;
    bottom: -150px;
    left: 0;
    background: hsla(218, 64%, 14%, 1);
    background: linear-gradient(270deg, hsla(218, 64%, 14%, 1) 7%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(270deg, hsla(218, 64%, 14%, 1) 7%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(270deg, hsla(218, 64%, 14%, 1) 7%, rgba(255, 255, 255, 0) 100%);
    filter: progid:
        DXImageTransform.Microsoft.gradient( startColorstr="#0D1E3B", endColorstr="#FFFFFF00", GradientType=1 );
        width: 100%;
    height: 155px;
}

.hide {
    display: none;
}
.slide-top{
    animation:slide-top .8s cubic-bezier(.25,.46,.45,.94) both

}
@keyframes slide-top{
    0%{
        transform:translateY(0)
    }
    100%{
        transform:translateY(-102%)
    }
}
@media (max-width:1100px) {
    .pic {
        display: none;
    }
    .dis  {
        width: 100%;
    }
}

@media (max-width:730px) {
    .frontPage {
        padding: 0;
        text-align: center;
        .dis {
            padding: 0;
            .p {
                font-size: 60px;
            }
            h1 {
                font-size: 80px;
            }
        }
    }
}


@media (max-width: 500px){
    body {
        background: #e0e0e0;
    }
    .container {
        width: 100%;
        height: 50vh;
        top: 0;
        justify-content: center;
        background: #e0e0e0;
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        /* padding-top: 90px; */
    }
    .autoCalc {
        background: #e0e0e0;
        box-shadow: none;
        justify-content: start;
        height: 30vh;
        /* z-index: -5; */
    }
    #autoAge {
        margin-top: 20px;
    }
    .endPage {
        height: 100vh;
        justify-content: center;
    }
    .frontPage {
        padding: 0;
        text-align: center;
        .dis {
            padding: 0;
            .p {
                font-size: 40px;
            }
            h1 {
                font-size: 60px;
            }
        }
    }
    @keyframes slide-top{
        0%{
            transform:translateY(0)
        }
        100%{
            transform:translateY(-108%)
        }
    }
}
